{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}
<div class="m-3">
  <section class="container-fluid bg-primary rounded-4  ">
    <div class="row mt-2  pt-2">
      <DIV class="COL-12 mt-2">
        <h2>List of Products</h2>
      </DIV>
      <div class="col-12 col-md-12 mt-2">


        <table class="table table-hover table-info table-striped table-bordered border-dark  ">
          <thead class="table-dark text-center ">
            <tr>
              <th scope="col">NO</th>
              <th>CODE</th>
              <th>STATUS</th>
              <th>NAME</th>
              <th>PRIZE</th>

            </tr>
          </thead>

          <tbody>
            {% for product_obj in prod %}
            <tr>
              <td class="text-center">{{ forloop.counter }}</td>
              <td> <a style="text-decoration: none ; " href="{% url 'details' product_obj.id %}">
                  {{product_obj.code |upper}}</a></td>
              <td>{{product_obj.status |upper}}</td>
              <td>{{product_obj.name |upper}}</td>
              <td> <a style="text-decoration: none ; " href="{% url 'edit' product_obj.id %}">
                  {{product_obj.prize |upper}}</td>

            </tr>
            {% endfor %}

        </table>

      </div>

    </div>

  </section>
</div>




{% endblock %}